@charset "UTF-8";
/**
 * @author Matéo Suslu mateosuslu.pro@gmail.com
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: Futura, sans-serif;
  src: url("../fonts/Futura.ttc") format("truetype");
}
@font-face {
  font-family: Rubik, sans-serif;
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-VariableFont_wght.woff") format("woff"), url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: Rubik, sans-serif;
  src: url("../fonts/Rubik-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375;
  /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
  font-weight: 900;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}
.hyperlien--visited {
  color: #226aa0;
}
.hyperlien--hover {
  color: #144061;
  text-decoration: underline;
}
.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.bouton {
  background-color: #bbd531;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}
.bouton:after {
  content: "»";
  margin-left: 0.4em;
}
.bouton--hover {
  background-color: rgba(187, 213, 49, 0.75);
}
.bouton--active {
  background-color: rgba(187, 213, 49, 0.5);
}
.bouton--inverse {
  background-color: white;
  border: 2px solid #bbd531;
}
.bouton--inverse--hover {
  border-color: rgba(187, 213, 49, 0.75);
}
.bouton--inverse--active {
  border-color: rgba(187, 213, 49, 0.5);
}

/****** MODULES ******/
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FFFAFF;
  scroll-behavior: smooth;
}

.contenu {
  min-height: 100vh;
  margin: 0 auto;
}

.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 700;
}

a {
  text-align: center;
}

main {
  background-image: url("../images/rectangles.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  main {
    background-image: url("../images/rectangleBg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
  }
}

.titre {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .titre {
    width: 70%;
  }
}
.titre h1 {
  position: relative;
  font-size: calc(3rem + 1.5vw);
  font-weight: 900;
  text-align: center;
  text-shadow: 4px 3px 0px #52DEE5;
}
.titre h1 span {
  color: #EF5B5B;
}
.titre h1::before {
  content: "[";
  margin: 20px;
}
.titre h1::after {
  content: "]";
  margin: 20px;
}
@media (max-width: 768px) {
  .titre h1 {
    font-size: calc(4rem + 1.5vw);
    padding: 0 50px;
  }
  .titre h1::before {
    content: "";
    background-image: url("../images/bracket.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 50px;
    margin: 0;
  }
  .titre h1::after {
    content: "";
    background-image: url("../images/bracket.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: scaleX(-1) translateY(-50%);
    height: 100%;
    width: 50px;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .titre h1:before, .titre h1:after {
    display: none;
    visibility: hidden;
  }
}
.titre .titre__subtitle {
  margin: 20px;
  text-align: center;
  font-size: calc(1.5rem + 1vw);
  letter-spacing: 1vw;
}
@media (max-width: 425px) {
  .titre .titre__subtitle {
    width: 100%;
  }
}
.titre .btnDiscovery {
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #FFD400;
}
.titre .btnDiscovery span {
  font-size: 1.5rem;
  color: #111111;
  text-decoration: none;
  margin: 10px;
}

.intro__section {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .intro__section {
    flex-direction: column;
  }
}
.intro__section .intro__textes {
  width: 50%;
}
@media (max-width: 768px) {
  .intro__section .intro__textes {
    width: 100%;
  }
}
.intro__section .intro__textes .intro__title {
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
}
.intro__section .intro__textes .intro__title::after {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.intro__section .intro__textes .intro__title::before {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.intro__section .intro__textes .intro__description {
  text-align: justify;
  font-size: 1.5rem;
}
.intro__section .intro__image {
  border-radius: 20px;
}
@media (min-width: 1440px) {
  .intro__section .intro__image {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .intro__section .intro__image {
    margin-top: 20px;
  }
}

.slider {
  margin-top: 10vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider h2 {
  align-self: flex-end;
  float: right;
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
}
.slider h2::after {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.slider h2::before {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.slider__projets {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__projets > img {
  cursor: pointer;
  max-width: 50px;
  min-width: 30px;
  transition: all 0.25s ease;
  width: 5vw;
}
.slider__projets > img:hover {
  filter: drop-shadow(10px 0px 0px #111111);
}
.slider__projets .slider__list {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFAFF;
  list-style: none;
  padding: 0;
}
.slider__projets .slider__list .slide {
  position: relative;
  top: 0;
  left: 0;
  height: 80vh;
  min-height: 400px;
  max-height: 600px;
  width: 90%;
  list-style: none;
  margin: 0;
  background-color: #4E4D5C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
@media (max-width: 691px) {
  .slider__projets .slider__list .slide {
    height: auto;
    min-height: auto;
    max-height: fit-content;
  }
}
.slider__projets .slider__list .slide::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  top: 5%;
  left: 2%;
  width: 100%;
  height: 100%;
  background-color: #52DEE5;
  transition: all 0.5s ease;
}
.slider__projets .slider__list .slide::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -2;
  top: 10%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-color: #EF5B5B;
  transition: all 0.5s ease;
}
.slider__projets .slider__list .slide__entete {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 691px) {
  .slider__projets .slider__list .slide__entete {
    flex-direction: column;
  }
}
.slider__projets .slider__list .slide__entete * {
  text-align: center;
  font-size: 2.5rem;
}
.slider__projets .slider__list .slide__corps {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1024px) {
  .slider__projets .slider__list .slide__corps {
    flex-direction: column;
  }
}
.slider__projets .slider__list .slide__corpsImage {
  width: 45%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .slider__projets .slider__list .slide__corpsImage {
    width: 60% !important;
    margin: 20px 0;
  }
}
@media (max-width: 691px) {
  .slider__projets .slider__list .slide__corpsImage {
    width: 100% !important;
  }
}
.slider__projets .slider__list .slide__corpsTexte {
  color: #FFFAFF;
  font-size: 1.25rem;
  text-align: justify;
  width: 50%;
  padding: 0 10px;
}
@media (max-width: 1024px) {
  .slider__projets .slider__list .slide__corpsTexte {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .slider__projets .slider__list .slide__corpsTexte {
    text-align: left;
  }
}
.slider__projets .slider__list .slide__corpsTexte .slide__tags {
  display: block;
}
@media (max-width: 691px) {
  .slider__projets .slider__list .slide__corpsTexte .slide__tags {
    display: none;
  }
}
.slider__projets .slider__list .slide__corpsTexte a {
  color: #52DEE5;
}
.slider__projets .slider__list .slide__corpsTexte > a {
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  padding: 10px;
  border-radius: 50px;
  float: right;
  transition: all 0.25s ease;
}
.slider__projets .slider__list .slide__corpsTexte > a:hover {
  transform: scale(1.1);
}
.slider__projets .slider__list .slide__corpsTexte abbr {
  font-style: italic;
}
.slider .dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
}
.slider .dots .dot {
  list-style: none;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin: 0 10px;
  border-radius: 100%;
  border: 3px solid #111111;
  transition: all 0.25s ease;
}

.contact {
  width: 90%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  position: relative;
  text-align: center;
}
.contact h2::after {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.contact h2::before {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.contact__corps {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .contact__corps {
    flex-direction: column;
  }
}
.contact__corps .contact__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 20px;
}
@media (max-width: 768px) {
  .contact__corps .contact__part {
    width: 100%;
  }
}
.contact__corps .contact__part .contact__textes {
  text-align: justify;
  padding: 0 30px;
}
.contact__corps .contact__part .contact__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFD400;
  text-align: center;
  transition: all 0.25s ease;
}
.contact__corps .contact__part .contact__image:hover {
  filter: drop-shadow(0px 0px 3px #FFD400);
}
.contact__corps .contact__part .contact__image img {
  max-width: 100px;
  min-width: 75px;
  width: 10vw;
}

h1 {
  font-size: 5rem;
  text-align: center;
  text-shadow: 4px 3px 0px #52DEE5;
}
h1 span {
  color: #EF5B5B;
}

.section1 {
  margin-top: 200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .section1 {
    width: 90%;
  }
}
.section1 .responsables {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .responsables .ligne {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .section1 .responsables .ligne {
    justify-content: space-between;
  }
}
@media (max-width: 654px) {
  .section1 .responsables .ligne {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .section1 .responsables .ligne {
    margin: 20px 0;
  }
}
@media (max-width: 654px) {
  .section1 .responsables .ligne:nth-child(2), .section1 .responsables .ligne:nth-child(4) {
    flex-direction: column-reverse;
  }
}
.section1 .responsables .ligne .responsable {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFAFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .section1 .responsables .ligne .responsable {
    width: 75%;
  }
}
@media (max-width: 654px) {
  .section1 .responsables .ligne .responsable {
    width: 100%;
    margin-bottom: 70px;
  }
}
@media (max-width: 425px) {
  .section1 .responsables .ligne .responsable {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .section1 .responsables .ligne .responsable .textes {
    width: 50%;
  }
}
.section1 .responsables .ligne .responsable h4 {
  margin: 5px 0;
}
.section1 .responsables .ligne .responsable img {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
}
.section1 .responsables .ligne a {
  transition: all 0.25s ease;
}
@media (max-width: 768px) {
  .section1 .responsables .ligne a img {
    width: 75px;
    height: 75px;
  }
}
.section1 .responsables .ligne a:hover {
  filter: drop-shadow(0px 0px 3px #111111);
}

.section2 {
  margin: 20vh 0 10vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .section2 {
    margin: 10vh 0;
    flex-direction: column;
  }
}
.section2 .formulaire {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .section2 .formulaire {
    width: 100%;
  }
}
.section2 .formulaire h2 {
  position: relative;
  width: fit-content;
}
.section2 .formulaire h2::after {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section2 .formulaire h2::before {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -20%;
  height: 7px;
  width: 30px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section2 .formulaire form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFFAFF;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  padding: 20px;
}
@media (max-width: 768px) {
  .section2 .formulaire form {
    width: 100%;
  }
}
.section2 .formulaire form .g-recaptcha {
  width: 100%;
}
.section2 .formulaire form span {
  color: red;
}
.section2 .formulaire form * {
  width: 100%;
}
.section2 .formulaire form label {
  margin: 20px 0 5px;
}
.section2 .formulaire form label:first-child {
  margin: 0 0 5px;
}
.section2 .formulaire form input[type=submit] {
  margin: 20px 0 0;
  width: fit-content;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #111111;
  border: solid #FFD400;
  background-color: #FFD400;
  transition: all 0.25s ease;
}
.section2 .formulaire form input[type=submit]:hover {
  background-color: #FFFAFF;
}
.section2 .formulaire form input:focus, .section2 .formulaire form textarea:focus {
  outline: solid #FFD400;
  outline-width: medium;
}
.section2 .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 768px) {
  .section2 .map {
    margin-top: 50px;
    width: 100%;
  }
}
.section2 .map h2 {
  position: relative;
  width: fit-content;
}
.section2 .map h2::after {
  content: "";
  position: absolute;
  left: -8%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.section2 .map h2::before {
  content: "";
  position: absolute;
  left: -8%;
  bottom: -20%;
  height: 7px;
  width: 30px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.section2 .map iframe {
  margin: 20px 0;
  width: 90%;
  border-radius: 10px;
}

.section__temoignages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .section__temoignages {
    flex-direction: column;
  }
}
.section__temoignages__textes {
  width: 80%;
}
.section__temoignages__textes .textes__title {
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
}
.section__temoignages__textes .textes__title::after {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section__temoignages__textes .textes__title::before {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section__temoignages__textes .textes__description {
  text-align: justify;
}
.section__temoignages__textes .boutons {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__temoignages__textes .boutons button {
  filter: opacity(30%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px;
  font-weight: 900;
  color: #FFFAFF;
  transition: all 0.25s ease;
}
.section__temoignages__textes .boutons button:hover {
  filter: opacity(100%);
  outline: solid 3px #111111;
}
.section__temoignages__textes .boutons button.active {
  filter: opacity(100%);
}
.section__temoignages__textes .boutons button[data-card=integration] {
  border-radius: 10px 0px 0px 10px;
  background-color: #EF5B5B;
  width: 25%;
}
.section__temoignages__textes .boutons button[data-card=programmation] {
  background: linear-gradient(90deg, #EF5B5B -112.5%, #52DEE5 467%);
  width: 25%;
}
.section__temoignages__textes .boutons button[data-card=conception] {
  background: linear-gradient(90deg, #EF5B5B -240%, #52DEE5 338%);
  width: 25%;
}
.section__temoignages__textes .boutons button[data-card=medias] {
  background: linear-gradient(90deg, #EF5B5B -365%, #52DEE5 217%);
  width: 15%;
}
.section__temoignages__textes .boutons button[data-card=autres] {
  border-radius: 0px 10px 10px 0px;
  background-color: #52DEE5;
  width: 10%;
}
.section__temoignages__textes a {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  border: solid #FFD400;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
.section__temoignages__textes a:hover {
  background-color: #FFFAFF;
}
.section__temoignages__textes a span {
  font-weight: bold;
  margin: 0 10px;
}
.section__temoignages .temoignages {
  margin-top: 100px;
  width: 80%;
  padding: 50px;
}
@media (max-width: 768px) {
  .section__temoignages .temoignages {
    padding: 0;
  }
}
.section__temoignages .temoignages .card {
  display: none;
  border-radius: 10px;
  border: solid #52DEE5;
  background-color: #FFFAFF;
  overflow: hidden;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__temoignages .temoignages .card.active {
  display: block;
  animation: appear 0.5s ease;
}
@keyframes appear {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
.section__temoignages .temoignages .card__titre {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__temoignages .temoignages .card__titre h3 {
  color: white;
  position: relative;
  z-index: 1;
  font-size: 2.25rem;
  font-weight: 900;
  text-shadow: 1px 2px 0px #52DEE5;
}
.section__temoignages .temoignages .card__titre img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  filter: brightness(50%);
  z-index: 0;
}
.section__temoignages .temoignages .card__textes {
  padding: 20px;
}
.section__temoignages .temoignages .card__textes ul {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .section__temoignages .temoignages .card__textes ul {
    display: block;
  }
}
.section__temoignages .temoignages .card__textes ul li {
  width: 50%;
}
@media (max-width: 600px) {
  .section__temoignages .temoignages .card__textes ul li {
    width: 100%;
  }
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 h2 {
  width: fit-content;
  align-self: flex-end;
  position: relative;
  font-size: 2.5rem;
}
.section2 h2::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.section2 h2::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.section2 .contenus {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section2 .contenus .medias {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas: "a a" "a a" "b c";
}
.section2 .contenus .medias video {
  width: 100%;
  border-radius: 10px;
  grid-area: a;
}
.section2 .contenus .medias .image1 {
  border-radius: 10px;
  width: 100%;
  grid-area: b;
}
.section2 .contenus .medias .image2 {
  border-radius: 10px;
  width: 100%;
  grid-area: c;
}
.section2 .contenus .stats {
  width: 40%;
}
.section2 .contenus .stats1, .section2 .contenus .stats2, .section2 .contenus .stats3, .section2 .contenus .stats4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.section2 .contenus .stats1 p, .section2 .contenus .stats2 p, .section2 .contenus .stats3 p, .section2 .contenus .stats4 p {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
}
@media (max-width: 768px) {
  .section2 .contenus .stats1 p, .section2 .contenus .stats2 p, .section2 .contenus .stats3 p, .section2 .contenus .stats4 p {
    width: fit-content;
  }
}
.section2 .contenus .stats1*, .section2 .contenus .stats2*, .section2 .contenus .stats3*, .section2 .contenus .stats4* {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .section2 .contenus .stats1 img, .section2 .contenus .stats2 img, .section2 .contenus .stats3 img, .section2 .contenus .stats4 img {
    width: 75px;
  }
}

.slider.formation {
  width: 100%;
}
@media (max-width: 1024px) {
  .slider.formation {
    margin: 0;
  }
}
.slider.formation .slide {
  height: auto !important;
}
.slider.formation .slide .poste {
  font-style: italic;
}
.slider.formation img {
  width: 30% !important;
}

.section4 h2 {
  width: fit-content;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
}
.section4 h2::after {
  content: "";
  position: absolute;
  right: -5%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section4 h2::before {
  content: "";
  position: absolute;
  right: -5%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section4 .jobGrid {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas: "a c" "b c";
}
.section4 .jobGrid fieldset {
  padding: 50px;
  background-color: #FFFAFF;
}
.section4 .jobGrid fieldset legend {
  width: fit-content;
  text-align: center;
  font-weight: 900;
}
.section4 .jobGrid fieldset span {
  font-weight: bold;
}
.section4 .jobGrid fieldset hr {
  border: solid 2px #EF5B5B;
  border-radius: 50px;
  margin: 30px 0;
}
.section4 .jobGrid fieldset a {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  border: solid #FFD400;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
.section4 .jobGrid fieldset a:hover {
  background-color: #FFFAFF;
}
.section4 .jobGrid fieldset a span {
  margin: 0 10px;
}
.section4 .jobGrid .jobPart1 {
  border: solid 5px #52DEE5;
  grid-area: a;
}
.section4 .jobGrid .jobPart2 {
  border: solid 5px #FFD400;
  grid-area: b;
}
.section4 .jobGrid .jobPart3 {
  border: solid 5px #EF5B5B;
  grid-area: c;
}

.section5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 100px;
}
@media (max-width: 1024px) {
  .section5 {
    flex-direction: column;
    align-items: center;
  }
}
.section5 .inscription {
  width: 45%;
}
@media (max-width: 1024px) {
  .section5 .inscription {
    width: 100%;
  }
}
.section5 .inscription div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a a" "a a" "b c";
}
@media (max-width: 1024px) {
  .section5 .inscription div {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a a" "b c";
  }
}
.section5 .inscription div p {
  grid-area: a;
}
.section5 .inscription div .contactLink {
  grid-area: c !important;
}
.section5 .inscription div a {
  margin: 20px 0;
  grid-area: b;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  border: solid #FFD400;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
@media (max-width: 1024px) {
  .section5 .inscription div a {
    margin: auto;
  }
}
.section5 .inscription div a:hover {
  background-color: #FFFAFF;
}
.section5 .inscription div a span {
  margin: 0 10px;
}
.section5 .etudiantJour {
  width: 45%;
}
@media (max-width: 1024px) {
  .section5 .etudiantJour {
    width: 100%;
  }
}
.section5 .etudiantJour h2:before {
  left: -5%;
  background-color: #EF5B5B;
}
.section5 .etudiantJour h2:after {
  left: -5%;
  background-color: #EF5B5B;
}
.section5 .etudiantJour p {
  margin: 40px 0;
}
.section5 .etudiantJour a {
  grid-area: b;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  border: solid #FFD400;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
.section5 .etudiantJour a:hover {
  background-color: #FFFAFF;
}

.stagesGrid {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  grid-template-areas: "a c" "b c";
}
@media (max-width: 768px) {
  .stagesGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stagesGrid div {
    width: 100%;
  }
}
.stagesGrid .sujet {
  grid-area: a;
}
.stagesGrid .question {
  border-color: #FFD400;
  grid-area: b;
}
.stagesGrid .employeur {
  border-color: #EF5B5B;
  grid-area: c;
}
.stagesGrid .employeur p {
  margin: 10px 0 20px;
}
.stagesGrid div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #FFFAFF;
  border: solid 5px #52DEE5;
  border-radius: 10px;
}
.stagesGrid div a {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #111111;
  background-color: #FFD400;
  border: solid #FFD400;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.25s ease;
}
.stagesGrid div a:hover {
  background-color: #FFFAFF;
}
.stagesGrid div a span {
  font-weight: bold;
  margin: 0 10px;
}

.section1.projets .pageBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0;
}
.section1.projets .pageBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  min-width: 40px;
}
.section1.projets .pageBtn a img {
  width: 100%;
  transition: all 0.25s ease;
}
.section1.projets .pageBtn a img:hover {
  filter: drop-shadow(10px 0px 0px #111111);
}
.section1.projets .pageBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
}
.section1.projets .projetsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
}
@media (max-width: 768px) {
  .section1.projets .projetsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .section1.projets .projetsGrid {
    grid-template-columns: 1fr;
  }
}
.section1.projets .projetsGrid .cardProjets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFAFF;
  border: solid #EF5B5B;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-decoration: none;
  color: #111111;
  overflow: hidden;
}
.section1.projets .projetsGrid .cardProjets img {
  border: solid #EF5B5B;
  width: 100%;
  max-height: 150px;
  border-radius: 10px;
}
.section1.projets .projetsGrid .cardProjets h3, .section1.projets .projetsGrid .cardProjets p {
  align-self: flex-start;
}
.section1.projets .projetsGrid .cardProjets p {
  margin-top: 0;
}
.section1.projets .projetsGrid .cardProjets p i {
  font-weight: 300;
}
.section1.projets .projetsGrid .cardProjets .cachet {
  background-color: #EF5B5B;
  padding: 10px;
  border-radius: 10px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
}
.section1.projets .projetsGrid .cardProjets:last-child {
  grid-column-start: 2;
}
@media (max-width: 768px) {
  .section1.projets .projetsGrid .cardProjets:last-child {
    grid-column-start: auto;
  }
}

.section1.projet .sous-titre {
  font-weight: 300;
  margin: 30px 0 100px;
}
.section1.projet .mediasProjet {
  margin: 50px 0;
  width: 80%;
}
.section1.projet .textesProjet {
  margin: 0 0 50px;
}
.section1.projet .technologiesProjet {
  margin: 0 0 50px;
}
.section1.projet .urlProjet {
  text-decoration: none;
  color: #111111;
  padding: 10px;
  background-color: #FFD400;
  border-radius: 10px;
  border: solid #FFD400;
  transition: all 0.25s ease;
}
.section1.projet .urlProjet:hover {
  background-color: #FFFAFF;
}
.section1.projet h3 {
  position: relative;
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 100px 0 50px;
}
.section1.projet h3::after {
  content: "";
  position: absolute;
  right: -15%;
  bottom: -20%;
  height: 90%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section1.projet h3::before {
  content: "";
  position: absolute;
  right: -15%;
  bottom: -20%;
  height: 7px;
  width: 30px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.section1.projet .students {
  background-color: #FFFAFF;
  border: solid 3px #EF5B5B;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.section1.projet .students .student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1.projet .students .student h4 {
  font-size: 2rem;
}
.section1.projet .students .student .studentContenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .section1.projet .students .student .studentContenu {
    flex-direction: column;
  }
}
.section1.projet .students .student .studentContenu li {
  line-height: 30px;
}
.section1.projet .students .student .studentContenu img {
  border: solid #52DEE5;
  border-radius: 10px;
  width: 30%;
  max-width: 250px;
  min-width: 125px;
}

.piedDePage {
  position: relative;
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.piedDePage .contenus {
  position: relative;
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.piedDePage .social {
  margin-left: 20px;
}
.piedDePage .social img {
  margin: 0 5px;
}
.piedDePage .mentions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 10px 0;
}
.piedDePage .credit {
  text-align: center;
  font-size: 1.25rem;
  color: #FFFAFF;
}
@media (max-width: 1024px) {
  .piedDePage .credit {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .piedDePage .credit {
    font-size: 1rem;
  }
}
.piedDePage .copyright {
  font-size: 1.25rem;
  text-align: center;
  color: #FFFAFF;
}
@media (max-width: 1024px) {
  .piedDePage .copyright {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .piedDePage .copyright {
    font-size: 1rem;
  }
}
.piedDePage .logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
@media (max-width: 425px) {
  .piedDePage .logos {
    flex-direction: column;
  }
}
.piedDePage .logos span {
  font-size: 2rem;
  font-weight: 900;
  color: #FFFAFF;
}
.piedDePage .logos .piedDePage__logo {
  width: 35%;
  min-width: 75px;
  max-width: 150px;
  margin: 0;
  padding: 20px;
}
.piedDePage .logos .piedDePage__logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .piedDePage .logos .piedDePage__logo {
    padding: 10px;
  }
}

.entete {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25S ease;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
@media (max-width: 768px) {
  .entete {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}
.entete__logo {
  width: 10%;
  margin: 0;
  padding: 20px;
}
.entete__logo img {
  min-width: 75px;
  max-width: 100px;
  width: 100%;
}

.article {
  border-bottom: 1px dotted #333;
  padding-right: 8px;
  margin-bottom: 10px;
}
.article__entete {
  background-color: #eee;
}

.navigation, .navigation__secondaire {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}
.navigation ul, .navigation__secondaire ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}
.navigation li, .navigation__secondaire li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation li::after, .navigation__secondaire li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 0%;
  height: 3px;
  border-radius: 50px;
  background-color: #111111;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.navigation li:hover::after, .navigation__secondaire li:hover::after {
  width: 100%;
}
.navigation li a, .navigation__secondaire li a {
  text-decoration: none;
  color: #111111;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
    visibility: hidden;
  }
}

.navigation__secondaire a {
  color: #FFFAFF !important;
}

.navigation__secondaire li::after {
  background-color: #FFFAFF;
}

.navBurger {
  display: none;
  visibility: hidden;
  margin: 20px;
}
.navBurger .burgerBtnOpen {
  width: 40px;
  height: 40px;
  border: solid #111111;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.navBurger .burgerBtnOpen:hover {
  border-radius: 100%;
}
.navBurger .burgerBtnClose {
  width: 40px;
  height: 40px;
  color: #FFFAFF;
  font-weight: 900;
  border: solid #FFFAFF;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.navBurger .burgerBtnClose:hover {
  border-radius: 100%;
}
@media (max-width: 768px) {
  .navBurger {
    display: block;
    visibility: visible;
  }
}
.navBurger .navigation {
  position: absolute;
  z-index: 5;
  display: flex;
  visibility: visible;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: -100%;
  padding: 20px;
  min-width: 200px;
  max-width: 300px;
  width: 30vw;
  height: 100vh;
  background-color: #111111;
  transition: all 0.5s ease;
}
.navBurger .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: fit-content;
}
.navBurger .navigation li {
  position: relative;
  margin: 20px 0;
  width: fit-content;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navBurger .navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 0%;
  height: 3px;
  border-radius: 50px;
  background-color: #FFFAFF;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.navBurger .navigation li:hover::after {
  width: 100%;
}
.navBurger .navigation li a {
  text-decoration: none;
  color: #FFFAFF;
  font-size: 1.5rem;
}

.barredroite {
  float: right;
  width: 30%;
  border-left: 1px solid #333;
}
.barredroite ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
@media only screen and (max-width: 725px) {
  .barredroite ul {
    margin-left: 0;
  }
}
@media only screen and (max-width: 735px) {
  .barredroite {
    float: none;
    width: 100%;
    border-left: none;
  }
}

/*# sourceMappingURL=styles.css.map */
