@charset "UTF-8";
/**
 * @author Matéo Suslu mateosuslu.pro@gmail.com
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: Futura, sans-serif;
  src: url("../fonts/Futura.ttc") format("truetype");
}
@font-face {
  font-family: Rubik, sans-serif;
  src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-VariableFont_wght.woff") format("woff"), url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: Rubik, sans-serif;
  src: url("../fonts/Rubik-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375;
  /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}
.hyperlien--visited {
  color: #226aa0;
}
.hyperlien--hover {
  color: #144061;
  text-decoration: underline;
}
.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.bouton {
  background-color: #bbd531;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}
.bouton:after {
  content: "»";
  margin-left: 0.4em;
}
.bouton--hover {
  background-color: rgba(187, 213, 49, 0.75);
}
.bouton--active {
  background-color: rgba(187, 213, 49, 0.5);
}
.bouton--inverse {
  background-color: white;
  border: 2px solid #bbd531;
}
.bouton--inverse--hover {
  border-color: rgba(187, 213, 49, 0.75);
}
.bouton--inverse--active {
  border-color: rgba(187, 213, 49, 0.5);
}

/****** MODULES ******/
* {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FFFAFF;
  scroll-behavior: smooth;
}

.contenu {
  min-height: 100vh;
  margin: 0 auto;
}

.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-image: url("../images/rectangles.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titre {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titre h1 {
  font-size: 5rem;
  text-align: center;
  text-shadow: 4px 3px 0px #52DEE5;
}
.titre h1 span {
  color: #EF5B5B;
}
.titre h1::before {
  content: "[";
  margin: 20px;
}
.titre h1::after {
  content: "]";
  margin: 20px;
}
.titre .titre__subtitle {
  margin: 20px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 15px;
}
.titre .btnDiscovery {
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #FFD400;
}
.titre .btnDiscovery span {
  font-size: 1.5rem;
  color: #111111;
  text-decoration: none;
  margin: 10px;
}

.intro__section {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro__section .intro__textes {
  width: 50%;
}
.intro__section .intro__textes .intro__title {
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
}
.intro__section .intro__textes .intro__title::after {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.intro__section .intro__textes .intro__title::before {
  content: "";
  position: absolute;
  right: -10%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.intro__section .intro__textes .intro__description {
  text-align: justify;
  font-size: 1.5rem;
}
.intro__section .intro__image {
  border-radius: 20px;
}

.slider {
  margin-top: 10vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider h2 {
  align-self: flex-end;
  float: right;
  width: fit-content;
  position: relative;
  font-size: 2.5rem;
}
.slider h2::after {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.slider h2::before {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #EF5B5B;
}
.slider__projets {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__projets > img {
  cursor: pointer;
  max-width: 50px;
  transition: all 0.25s ease;
}
.slider__projets > img:hover {
  filter: drop-shadow(10px 0px 0px #111111);
}
.slider__projets .slider__list {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFAFF;
  list-style: none;
  margin: 0 30px;
  padding: 0;
}
.slider__projets .slider__list .slide {
  position: relative;
  top: 0;
  left: 0;
  min-height: 80vh;
  width: 90%;
  list-style: none;
  margin: 0;
  background-color: #4E4D5C;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.slider__projets .slider__list .slide::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -1;
  top: 5%;
  left: 2%;
  width: 100%;
  height: 100%;
  background-color: #52DEE5;
  transition: all 0.5s ease;
}
.slider__projets .slider__list .slide::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: -2;
  top: 10%;
  left: 4%;
  width: 100%;
  height: 100%;
  background-color: #EF5B5B;
  transition: all 0.5s ease;
}
.slider__projets .slider__list .slide__entete {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__projets .slider__list .slide__entete * {
  font-size: 2.5rem;
}
.slider__projets .slider__list .slide__corps {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slider__projets .slider__list .slide__corpsImage {
  width: 45%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.slider__projets .slider__list .slide__corpsTexte {
  color: #FFFAFF;
  font-size: 1.25rem;
  text-align: justify;
  width: 50%;
  padding: 0 10px;
}
.slider__projets .slider__list .slide__corpsTexte a {
  color: #52DEE5;
}
.slider__projets .slider__list .slide__corpsTexte > a {
  text-decoration: none;
  color: #111111;
  background-color: #FFD400;
  padding: 10px;
  border-radius: 50px;
  float: right;
  transition: all 0.25s ease;
}
.slider__projets .slider__list .slide__corpsTexte > a:hover {
  transform: scale(1.1);
}
.slider__projets .slider__list .slide__corpsTexte abbr {
  font-style: italic;
}
.slider .dots {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 75px 0;
}
.slider .dots .dot {
  list-style: none;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 100%;
  border: 3px solid #111111;
  transition: all 0.25s ease;
}

.contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  position: relative;
  text-align: center;
}
.contact h2::after {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 100%;
  width: 7px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.contact h2::before {
  content: "";
  position: absolute;
  left: -7%;
  bottom: -20%;
  height: 7px;
  width: 35px;
  border-radius: 50px;
  background-color: #52DEE5;
}
.contact__corps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__corps .contact__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 20px;
}
.contact__corps .contact__part .contact__textes {
  text-align: justify;
  padding: 0 30px;
}
.contact__corps .contact__part .contact__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFD400;
  text-align: center;
}
.contact__corps .contact__part .contact__image img {
  max-width: 100px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  text-shadow: 4px 3px 0px #52DEE5;
}
h1 span {
  color: #EF5B5B;
}

.section1 {
  margin-top: 30vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section1 .responsables {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .responsables .ligne {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.section1 .responsables .ligne .responsable {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFAFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section1 .responsables .ligne .responsable img {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%;
}
.section1 .responsables .ligne a {
  transition: all 0.25s ease;
}
.section1 .responsables .ligne a:hover {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

.piedDePage {
  position: relative;
  width: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.piedDePage .social {
  margin-left: 20px;
}
.piedDePage .social img {
  margin: 0 5px;
}
.piedDePage .credit {
  width: 15%;
  text-align: center;
  font-size: 1.25rem;
  color: #FFFAFF;
}
.piedDePage .copyright {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 1rem;
  color: #FFFAFF;
}
.piedDePage .logos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.piedDePage .logos span {
  font-size: 2rem;
  font-weight: 900;
  color: #FFFAFF;
}
.piedDePage .logos .piedDePage__logo {
  width: 35%;
  margin: 0;
  padding: 20px;
}
.piedDePage .logos .piedDePage__logo img {
  width: 100%;
}

.entete {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25S ease;
}
.entete__logo {
  width: 10%;
  margin: 0;
  padding: 20px;
}
.entete__logo img {
  width: 100%;
}

.article {
  border-bottom: 1px dotted #333;
  padding-right: 8px;
  margin-bottom: 10px;
}
.article__entete {
  background-color: #eee;
}

.navigation, .navigation__secondaire {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}
.navigation ul, .navigation__secondaire ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}
.navigation li, .navigation__secondaire li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation li::after, .navigation__secondaire li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 0%;
  height: 3px;
  border-radius: 50px;
  background-color: #111111;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.navigation li:hover::after, .navigation__secondaire li:hover::after {
  width: 100%;
}
.navigation li a, .navigation__secondaire li a {
  text-decoration: none;
  color: #111111;
  font-size: 1.5rem;
}
.navigation .darkMode, .navigation__secondaire .darkMode {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 75px;
  background-color: grey;
  border-radius: 100px;
  cursor: pointer;
}
.navigation .darkMode::after, .navigation__secondaire .darkMode::after {
  content: "";
  position: absolute;
  left: 5%;
  top: 50%;
  width: 40%;
  padding-top: 40%;
  transform: translateY(-50%);
  background-color: #FFFAFF;
  border-radius: 100%;
}
.navigation .darkMode img, .navigation__secondaire .darkMode img {
  width: 15px;
}

.navigation__secondaire a {
  color: #FFFAFF !important;
}

.navigation__secondaire li::after {
  background-color: #FFFAFF;
}

.barredroite {
  float: right;
  width: 30%;
  border-left: 1px solid #333;
}
.barredroite ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
@media only screen and (max-width: 725px) {
  .barredroite ul {
    margin-left: 0;
  }
}
@media only screen and (max-width: 735px) {
  .barredroite {
    float: none;
    width: 100%;
    border-left: none;
  }
}

/*# sourceMappingURL=styles.css.map */
