.entete{
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25S ease;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  @media (max-width: 768px) {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  &__logo{
    width: 10%;

    img{
      min-width: 75px;
      max-width: 100px;
      width: 100%;
    }

    margin: 0;
    padding: 20px;
  }
}