.piedDePage{
  position: relative;
  width: 100%;
  background-color: $noir;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .contenus{
    position: relative;
    width: 100%;
    background-color: $noir;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social{
    img{
      margin: 0 5px;
    }
    margin-left: 20px;
  }

  .mentions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
  }

  .credit{
    text-align: center;
    font-size: 1.25rem;
    color: $blancPrimaire;

    @media (max-width: 1024px) {
      font-size: .75rem;
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .copyright{
    font-size: 1.25rem;
    text-align: center;
    color: $blancPrimaire;

    @media (max-width: 1024px) {
      font-size: .75rem;
    }

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    span{
      font-size: 2rem;
      font-weight: 900;
      color: $blancPrimaire;
    }

    .piedDePage__logo{

      width: 35%;
      min-width: 75px;
      max-width: 150px;

      img{
        width: 100%;
      }

      margin: 0;
      padding: 20px;

      @media (max-width: 768px) {
        padding: 10px;
      }

    }
  }

}