*{
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $blancPrimaire;
  scroll-behavior: smooth;
}

.contenu{
  min-height: 100vh;
  margin: 0 auto;
}

.page{
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}