main{
  background-image: url("../images/rectangles.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-image: url("../images/rectangleBg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
  }

}


.titre{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 70%;
  }

  h1 {
    position: relative;
    font-size: calc(3rem + 1.5vw);
    font-weight: 900;
    text-align: center;
    text-shadow: 4px 3px 0px $bleuPrimaire;

    span {
      color: $rougePrimaire;
    }

    &::before {
      content: '[';
      margin: 20px;
    }

    &::after {
      content: ']';
      margin: 20px;
    }

    @media (max-width: 768px) {

      font-size: calc(4rem + 1.5vw);
      padding: 0 50px;

      &::before {
        content: '';
        background-image: url("../images/bracket.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 50px;
        margin: 0;
      }

      &::after {
        content: '';
        background-image: url("../images/bracket.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        transform: scaleX(-1) translateY(-50%);
        height: 100%;
        width: 50px;
        margin: 0;
      }
    }

    @media (max-width: 425px) {
      &:before, &:after{
        display: none;
        visibility: hidden;
      }
    }

  }

  .titre__subtitle{
    margin: 20px;
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    letter-spacing: 1vw;

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  .btnDiscovery{
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: $jaunePrimaire;

    span{
      font-size: 1.5rem;
      color: $noir;
      text-decoration: none;
      margin: 10px;
    }

  }

}

.intro__section{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .intro__textes{
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }

    .intro__title{
      width:fit-content;
      position: relative;
      font-size: 2.5rem;

      &::after{
        content: '';
        position: absolute;
        right: -10%;
        bottom: -20%;
        height: 100%;
        width: 7px;
        border-radius: 50px;
        background-color: $bleuPrimaire;
      }

      &::before{
        content: '';
        position: absolute;
        right: -10%;
        bottom: -20%;
        height: 7px;
        width: 35px;
        border-radius: 50px;
        background-color: $bleuPrimaire;
      }

    }

    .intro__description{
      text-align: justify;
      font-size: 1.5rem;
    }

  }

  .intro__image{
    border-radius: 20px;

    @media (min-width: 1440px) {
      width: 500px;
    }

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

}

.slider{
  margin-top: 10vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    align-self: flex-end;
    float: right;
    width:fit-content;
    position: relative;
    font-size: 2.5rem;

    &::after{
      content: '';
      position: absolute;
      left: -7%;
      bottom: -20%;
      height: 100%;
      width: 7px;
      border-radius: 50px;
      background-color: $rougePrimaire;
    }

    &::before{
      content: '';
      position: absolute;
      left: -7%;
      bottom: -20%;
      height: 7px;
      width: 35px;
      border-radius: 50px;
      background-color: $rougePrimaire;
    }


  }

  &__projets{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>img{
      cursor: pointer;
      max-width: 50px;
      min-width: 30px;
      transition: all 0.25s ease;
      width: 5vw;

      &:hover{
        filter: drop-shadow(10px 0px 0px $noir);
      }
    }

    .slider__list{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blancPrimaire;
      list-style: none;
      padding: 0;

      .slide{
        position: relative;
        top: 0;
        left: 0;
        height: 80vh;
        min-height: 400px;
        max-height: 600px;
        width: 90%;
        list-style: none;
        margin: 0;
        background-color: $noirPrimaire;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        @media (max-width: 691px) {
          height: auto;
          min-height: auto;
          max-height: fit-content;
        }

        &::before{
          content: '';
          position: absolute;
          border-radius: 10px;
          z-index: -1;
          top: 5%;
          left: 2%;
          width: 100%;
          height: 100%;
          background-color: $bleuPrimaire;
          transition: all 0.5s ease;
        }

        &::after{
          content: '';
          position: absolute;
          border-radius: 10px;
          z-index: -2;
          top: 10%;
          left: 4%;
          width: 100%;
          height: 100%;
          background-color: $rougePrimaire;
          transition: all 0.5s ease;
        }


        &__entete{
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 691px) {
            flex-direction: column;
          }

          *{
            text-align: center;
            font-size: 2.5rem;
          }
        }

        &__corps{
          width: 100%;
          padding: 20px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          @media (max-width: 1024px) {
            flex-direction: column;
          }

          &Image{
            width: 45%;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

            @media (max-width: 1024px) {
              width: 60% !important;
              margin: 20px 0;
            }

            @media (max-width: 691px) {
              width: 100% !important;
            }
          }

          &Texte{
            color: $blancPrimaire;
            font-size: 1.25rem;
            text-align: justify;
            width: 50%;
            padding: 0 10px;

            @media (max-width: 1024px) {
              width: 100%;
            }

            @media (max-width: 425px) {
              text-align: left;
            }

            .slide__tags{
              display: block;
              @media (max-width: 691px) {
                display: none;
              }
            }

            & a{
              color: $bleuPrimaire;
            }

            &>a{
              text-decoration: none;
              color: $noir;
              background-color: $jaunePrimaire;
              padding: 10px;
              border-radius: 50px;
              float: right;
              transition: all 0.25s ease;

              &:hover{
                transform: scale(1.1);
              }
            }

            abbr{
              font-style: italic;
            }
          }
        }
      }
    }
  }

  .dots{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 100px 0;

    .dot{
      list-style: none;
      width: 20px;
      height: 20px;
      padding: 3px;
      margin: 0 10px;
      border-radius: 100%;
      border: 3px solid $noir;
      transition: all 0.25s ease;
    }
  }
}

.contact{
  width: 90%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    position: relative;
    text-align: center;


    &::after{
      content: '';
      position: absolute;
      left: -7%;
      bottom: -20%;
      height: 100%;
      width: 7px;
      border-radius: 50px;
      background-color: $bleuPrimaire;
    }

    &::before{
      content: '';
      position: absolute;
      left: -7%;
      bottom: -20%;
      height: 7px;
      width: 35px;
      border-radius: 50px;
      background-color: $bleuPrimaire;
    }
  }

  &__corps{
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .contact__part{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 0 20px;

      @media (max-width: 768px) {
        width: 100%;
      }

      .contact__textes{
        text-align: justify;
        padding: 0 30px;
      }

      .contact__image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $jaunePrimaire;
        text-align: center;
        transition: all 0.25s ease;

        &:hover{
          filter: drop-shadow(0px 0px 3px $jaunePrimaire);
        }


        img{
          max-width: 100px;
          min-width: 75px;
          width: 10vw;
        }
      }
    }
  }

}
