h1 {
  font-size: 5rem;
  text-align: center;
  text-shadow: 4px 3px 0px $bleuPrimaire;

  span {
    color: $rougePrimaire;
  }

}

.section1{
  margin-top: 30vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .responsables{
    margin-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ligne{
      width: 100%;
      margin: 50px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .responsable{
        padding: 20px;
        border-radius: 20px;
        background-color: $blancPrimaire;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{
          border-radius: 20px;
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          width: 30%;
        }

      }

      a{
        transition: all 0.25s ease;

        &:hover{
          filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
        }
      }
    }
  }
}